.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

/* 文字溢出省略 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-two {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}

.ellipsis-three {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  word-break: break-all;
}

// 文字阴影
.text-shadow-sm {
  text-shadow: 0 0 5px rgb(0 0 0 / 25%);
}

// 阴影
.box-shadow {
  box-shadow: 0 0 10px #0000001a;
}

.w-1200 {
  width: 1200px;
}

.bg-full {
  background-size: 100% 100%;
}

// element-ui message 防止被遮挡
.request-message {
  z-index: 3000 !important;
}

// 修复 loading 水平居中
.el-loading-spinner {
  left: 46%;
}

// ins-table 表格
.ins-table {
  // 操作 iconfont 16px > 14px
  .iconfont {
    font-size: 14px;
  }
  // popover  删除按钮
  .el-button + .ins-popover-confirm-remove {
    margin-left: 10px;
  }
  // 表格的 el-switch
  .el-switch {
    height: 14px;
    width: 25px;
    line-height: 14px;
    position: relative;
    top: -2px;
    .el-switch__core {
      height: 14px;
      width: 25px !important;
      &::after {
        height: 10px;
        width: 10px;
      }
    }
    &.is-checked {
      .el-switch__core::after {
        margin-left: -11px;
      }
    }
  }
  .el-switch + .el-button {
    margin-left: 8px;
  }
  .el-button + .el-switch {
    margin-left: 8px;
  }
  // End 表格的 el-switch
}

// 覆盖 vue-admin-template 样式
// 有 header
#app {
  .main-container {
    // 自定义
    padding-top: 60px;
    background-color: #fafcff;
  }
  .sidebar-container {
    // 有 headbar 的时候
    margin-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  }
  .navbar {
    background: none;
    box-shadow: none;
    height: 35px;
  }
}
// End 覆盖 vue-admin-template  样式
